[branch]
	sort = -committerdate
[column]
	ui = auto
[commit]
	verbose = true
[core]
	fsmonitor = true
	untrackedChange = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictstyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	autoupdate = true
	enabled = true
[submodule]
	recurse = true
[user]
	name = Denis Gurchenkov
	email = denis@modular.com
[tag]
	sort = version:refname

